@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-container">
            <div class="card-body">
                <div class="card-title">
                    <h1>Información personal</h1>
                </div>
                <h4 class="title">Pedro Perez</h4>
                <div class="d-flex border-br-orange">
                    <div class="me-auto">
                        <label class="card-subtitle">Correo Electrónico: <span style="color: black;">pperez@bekaert.com</span></label>
                    </div>
                    <div>
                        <label class="card-subtitle">Ciudad - Pais: <span style="color: black;">Ibarra - Ecuador</span></label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-3">
        <div class="card card-container">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-grow-1 w-75">
                        <ul class="nav nav-tabs d-flex" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link custom-nav-link active" id="clientes-tab" data-bs-toggle="tab" data-bs-target="#clientes-tab-pane" type="button" role="tab" aria-controls="clientes-tab-pane" aria-selected="true">Mis Clientes</button>
                            </li>
                            <li class="nav-item flex-grow-1" role="presentation">
                                <button class="nav-link custom-nav-link" id="pedidos-tab" data-bs-toggle="tab" data-bs-target="#pedidos-tab-pane" type="button" role="tab" aria-controls="pedidos-tab-pane" aria-selected="false">Mis Pedidos</button>
                            </li>
                        </ul>
                    </div>
                    <div style="padding-top: 12px; display:flex;">
                        <input type="text" class="buscador" placeholder="buscador">
                        <svg style="margin:5px;" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="&#240;&#159;&#166;&#134; icon &#34;search&#34;">
                                <path id="Vector" d="M9.88894 18.7779C14.7982 18.7779 18.7779 14.7982 18.7779 9.88894C18.7779 4.97971 14.7982 1 9.88894 1C4.97971 1 1 4.97971 1 9.88894C1 14.7982 4.97971 18.7779 9.88894 18.7779Z" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path id="Vector_2" d="M21 21.0013L16.1666 16.168" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                        </svg>

                    </div>
                </div>
                <div class="tab-content pt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="clientes-tab-pane" role="tabpanel" aria-labelledby="clientes-tab" tabindex="0">
                        <table class="table">
                            <thead class="card-table_header">
                                <tr>
                                    <th scope="col" class="border-radius-left" style="padding:13px;">Nombre del Cliente</th>
                                    <th scope="col" style="padding:13px;">Código SAP</th>
                                    <th scope="col" class="border-radius-right" style="padding:13px;">Ciudad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>576994928938</td>
                                    <td>Ibarra</td>
                                </tr>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>576994928938</td>
                                    <td>Ibarra</td>
                                </tr>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>576994928938</td>
                                    <td>Ibarra</td>
                                </tr>
                                <tr>
                                    <td>Pedro Perez</td>
                                    <td>576994928938</td>
                                    <td>Cuenca</td>
                                </tr>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>576994928938</td>
                                    <td>Machala</td>
                                </tr>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>576994928938</td>
                                    <td>Machala</td>
                                </tr>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>576994928938</td>
                                    <td>Machala</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="pedidos-tab-pane" role="tabpanel" aria-labelledby="pedidos-tab" tabindex="0">
                        <table class="table">
                            <thead class="card-table_header">
                                <tr>
                                    <th scope="col" class="border-radius-left" style="padding:13px;">Nombre del Cliente</th>
                                    <th scope="col" style="padding:13px;">Fecha Creación</th>
                                    <th scope="col" style="padding:13px;">Observación</th>
                                    <th scope="col" style="padding:13px;">Número de Orden</th>
                                    <th scope="col" style="padding:13px;">Orden SAP</th>
                                    <th scope="col" style="padding:13px;">Compra KG</th>
                                    <th scope="col" style="padding:13px;">Compra $</th>
                                    <th scope="col" style="padding:13px;">Valor NC (Sin Iva)</th>
                                    <th scope="col" style="padding:13px;">Aprobador Actual</th>
                                    <th scope="col" style="padding:13px;">Estado</th>
                                    <th scope="col" class="border-radius-right" style="padding:13px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>1/10/2023</td>
                                    <td>(Sandra Monal): Despachar ...</td>
                                    <td>00245874</td>
                                    <td>514268245</td>
                                    <td>928.641.44</td>
                                    <td>65’928.641.44</td>
                                    <td>0.00</td>
                                    <td>Jenny Hernadez</td>
                                    <td>Aprobado</td>
                                    <td>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="01 align center">
                                                <path id="Vector" d="M24 3H4.242L4.2 2.649C4.11405 1.91942 3.76338 1.24673 3.21449 0.758478C2.6656 0.270223 1.95663 0.000341793 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L24 3ZM20.164 13H5.419L4.478 5H21.607L20.164 13Z" fill="#01ADEF" />
                                                <path id="Vector_2" d="M7.00012 24C8.10469 24 9.00011 23.1046 9.00011 22C9.00011 20.8954 8.10469 20 7.00012 20C5.89555 20 5.00012 20.8954 5.00012 22C5.00012 23.1046 5.89555 24 7.00012 24Z" fill="#01ADEF" />
                                                <path id="Vector_3" d="M17 24C18.1046 24 19 23.1046 19 22C19 20.8954 18.1046 20 17 20C15.8954 20 15 20.8954 15 22C15 23.1046 15.8954 24 17 24Z" fill="#01ADEF" />
                                            </g>
                                        </svg>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Pedro Perez</td>
                                    <td>1/10/2023</td>
                                    <td>(Sandra Monal): Despachar Semana del 23...</td>
                                    <td>00245874</td>
                                    <td>514268245</td>
                                    <td>928.641.44</td>
                                    <td>65’928.641.44</td>
                                    <td>0.00</td>
                                    <td>Jenny Hernadez</td>
                                    <td>Aprobado</td>
                                    <td>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="01 align center">
                                                <path id="Vector" d="M24 3H4.242L4.2 2.649C4.11405 1.91942 3.76338 1.24673 3.21449 0.758478C2.6656 0.270223 1.95663 0.000341793 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L24 3ZM20.164 13H5.419L4.478 5H21.607L20.164 13Z" fill="#01ADEF" />
                                                <path id="Vector_2" d="M7.00012 24C8.10469 24 9.00011 23.1046 9.00011 22C9.00011 20.8954 8.10469 20 7.00012 20C5.89555 20 5.00012 20.8954 5.00012 22C5.00012 23.1046 5.89555 24 7.00012 24Z" fill="#01ADEF" />
                                                <path id="Vector_3" d="M17 24C18.1046 24 19 23.1046 19 22C19 20.8954 18.1046 20 17 20C15.8954 20 15 20.8954 15 22C15 23.1046 15.8954 24 17 24Z" fill="#01ADEF" />
                                            </g>
                                        </svg>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Castillo Miranda Hugo Ernesto</td>
                                    <td>1/10/2023</td>
                                    <td>(Sandra Monal): Despachar Semana del 23 de Enero de 2023 (Jenny)</td>
                                    <td>00245874</td>
                                    <td>514268245</td>
                                    <td>928.641.44</td>
                                    <td>65’928.641.44</td>
                                    <td>0.00</td>
                                    <td>Jenny Hernadez</td>
                                    <td>Aprobado</td>
                                    <td>
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="01 align center">
                                                <path id="Vector" d="M24 3H4.242L4.2 2.649C4.11405 1.91942 3.76338 1.24673 3.21449 0.758478C2.6656 0.270223 1.95663 0.000341793 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L24 3ZM20.164 13H5.419L4.478 5H21.607L20.164 13Z" fill="#01ADEF" />
                                                <path id="Vector_2" d="M7.00012 24C8.10469 24 9.00011 23.1046 9.00011 22C9.00011 20.8954 8.10469 20 7.00012 20C5.89555 20 5.00012 20.8954 5.00012 22C5.00012 23.1046 5.89555 24 7.00012 24Z" fill="#01ADEF" />
                                                <path id="Vector_3" d="M17 24C18.1046 24 19 23.1046 19 22C19 20.8954 18.1046 20 17 20C15.8954 20 15 20.8954 15 22C15 23.1046 15.8954 24 17 24Z" fill="#01ADEF" />
                                            </g>
                                        </svg>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*carousel*@
    <div class="responsive">
        <div>
            <img src="~/assets/images/image 1.png" alt="Image 1">
        </div>
        <div>
            <img src="~/assets/images/image 2.png" alt="Image 2">
        </div>
        <div>
            <img src="~/assets/images/image 3.png" alt="Image 3">
        </div>
        <div>
            <img src="~/assets/images/image 4.png" alt="Image 4">
        </div>
        <div>
            <img src="~/assets/images/image 5.png" alt="Image 5">
        </div>
        <div>
            <img src="~/assets/images/image 3.png" alt="Image 3">
        </div>
        <div>
            <img src="~/assets/images/image 4.png" alt="Image 4">
        </div>
    </div>
</div>