@using Newtonsoft.Json;
@model Portal_MovilEsales.Services.ClienteServices.ViewModels.NuevoPedido.NuevoPedido
@{
    ViewData["Title"] = "Cambiar Password";
}

<div style="display:flex; justify-content:center; min-height: 100vh;">
    <div class="login-containers">
        <div class="logo">
            <svg width="210" height="49" viewBox="0 0 210 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Layer_1" clip-path="url(#clip0_594_2509)">
                    <path id="Vector" d="M68.2906 15.1394V21.8935H76.1542C78.5154 21.8935 80.1493 20.7932 80.1493 18.5138C80.1493 16.2344 78.4785 15.1341 76.1173 15.1341H68.2958L68.2906 15.1394ZM68.2906 27.1051V33.8592H76.6022C78.9634 33.8592 80.6764 32.759 80.6764 30.4795C80.6764 28.2001 78.9634 27.0998 76.6022 27.0998H68.2906M76.929 39.0656H62.4244V9.92773H76.4388C83.3644 9.92773 86.0523 13.7917 86.0523 18.0242C86.0523 21.1986 84.097 23.3569 81.488 24.2519V24.4151C84.8296 25.1889 86.7006 27.3052 86.7006 30.9691C86.7006 35.3648 83.7649 39.0656 76.9237 39.0656M135.353 39.0656H129.076L123.289 29.911C122.435 30.1952 120.928 30.3584 119.621 30.3584V39.0656H114.081V9.92773H119.621V25.31C124.348 25.31 127.974 22.4199 128.38 17.3346H133.472C133.229 22.0145 131.311 25.5153 128.175 27.8368L135.348 39.0708M189.171 39.0708H183.631V17.3399H189.007V20.5142H189.171C190.473 18.1137 192.755 16.9345 195.611 16.9345C196.102 16.9345 196.713 17.0187 197.119 17.0977V22.0619H194.837C191.047 22.0619 189.171 24.015 189.171 28.0053V39.0761M205.757 39.0761C201.925 39.0761 199.48 36.6756 199.48 32.8484V9.92773H205.019V17.3346H209.989V22.0567H205.019V31.7429C205.019 33.696 205.673 34.3488 207.628 34.3488H209.989V38.9866C209.215 39.0287 207.544 39.0656 205.752 39.0656M150.132 29.4635L144.793 30.1163C142.674 30.3584 141.288 31.2955 141.288 32.68C141.288 34.1435 142.347 35.0805 144.466 35.0805C147.075 35.0805 150.132 33.5328 150.132 30.848V29.4635ZM143.122 39.513C138.679 39.513 135.664 36.8704 135.664 32.959C135.664 29.0476 138.473 26.8524 144.793 26.0417L148.54 25.5521C149.721 25.389 149.963 24.9836 149.963 24.2519C149.963 22.7884 148.577 21.4828 145.968 21.4828C143.849 21.4828 142.221 22.3778 141.73 24.1255L136.312 23.3096C137.372 19.5666 140.956 16.9187 145.968 16.9187C151.755 16.9187 155.666 19.9299 155.666 25.9522V39.055H150.126V35.9596C148.862 38.4023 145.968 39.5025 143.117 39.5025M99.9666 21.3934C97.0309 21.3934 94.9121 23.2674 94.6697 26.0312H105.427C105.184 23.2622 103.066 21.3934 99.9666 21.3934ZM99.9666 39.5446C93.5313 39.5446 89.046 34.8647 89.046 28.1896C89.046 21.5144 93.526 16.8345 99.9666 16.8345C106.729 16.8345 111.051 21.5144 111.051 28.1896C111.051 29.1266 110.966 29.8583 110.887 30.3479H94.6697C94.9121 33.0748 97.0731 34.9857 99.9666 34.9857C102.328 34.9857 104.325 34.254 105.221 32.0957L110.518 32.9485C109.011 37.2652 105.343 39.5394 99.9666 39.5394M169.517 21.3881C166.581 21.3881 164.462 23.2622 164.22 26.0259H174.977C174.735 23.2569 172.616 21.3881 169.517 21.3881ZM169.517 39.5394C163.081 39.5394 158.596 34.8594 158.596 28.1843C158.596 21.5092 163.076 16.8292 169.517 16.8292C176.279 16.8292 180.601 21.5092 180.601 28.1843C180.601 29.1213 180.522 29.8531 180.437 30.3426H164.22C164.462 33.0695 166.623 34.9805 169.517 34.9805C171.878 34.9805 173.876 34.2487 174.772 32.0904L180.068 32.9432C178.561 37.2599 174.893 39.5341 169.517 39.5341" fill="#272727" />
                    <path id="Vector_2" d="M34.3008 49H0.47435C0.168658 48.9947 0.0105411 48.8421 0 48.5367V39.5348C0.0105411 39.2242 0.168658 39.0716 0.490162 39.0716H34.6328C35.9346 39.0716 36.8306 38.6662 36.8306 37.5238C36.8306 36.3815 35.9346 35.9761 34.6328 35.9761H0.490162C0.173928 35.9761 0.0105411 35.8235 0 35.5129V13.4871C0.0105411 13.1765 0.168658 13.0239 0.490162 13.0239H34.6328C35.9346 13.0239 36.8306 12.6185 36.8306 11.4761C36.8306 10.3338 35.9346 9.92845 34.6328 9.92845H0.490162C0.173928 9.92845 0.0105411 9.77578 0 9.46519V0.463257C0.0105411 0.152664 0.168658 0 0.490162 0H34.227C41.5636 0 46.9396 4.23249 46.9396 11.4761C46.9396 18.7198 41.5636 22.9523 34.227 22.9523H9.94027V26.0477H34.2217C41.5583 26.0477 46.9343 30.2802 46.9343 37.5238C46.9343 44.7675 41.5952 48.9684 34.3008 49Z" fill="#01ADEF" />
                </g>
                <defs>
                    <clipPath id="clip0_594_2509">
                        <rect width="210" height="49" fill="white" />
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="subcontainer">

            <form method="post" onsubmit="handleSubmit(event, '@Url.Action("ChangePassword", "Home")')">
                <div class="title-container">
                    <h1 class="title mb-0">Contraseña antigua</h1>
                </div>
                <div class="form-floating input-style mb-3">
                    <input type="password" class="form-control" id="oldPass" name="oldPass" required>
                    <label for="cocontrasena-temporalrreo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                            <path d="M23.7959 1.5459L21.3877 3.9541M21.3877 3.9541L25 7.56639L20.7857 11.7807L17.1734 8.16844M21.3877 3.9541L17.1734 8.16844M12.2245 13.1173C12.8462 13.7307 13.3405 14.4611 13.6788 15.2664C14.0171 16.0716 14.1927 16.9358 14.1957 17.8092C14.1986 18.6826 14.0287 19.548 13.6958 20.3555C13.3629 21.163 12.8736 21.8967 12.256 22.5143C11.6384 23.1319 10.9047 23.6212 10.0972 23.9541C9.28974 24.287 8.42437 24.4568 7.55096 24.4539C6.67754 24.451 5.81334 24.2753 5.00809 23.937C4.20285 23.5987 3.47248 23.1045 2.85903 22.4828C1.65268 21.2337 0.985161 19.5609 1.00025 17.8245C1.01534 16.0881 1.71183 14.427 2.9397 13.1992C4.16757 11.9713 5.82859 11.2748 7.565 11.2597C9.30141 11.2446 10.9743 11.9121 12.2233 13.1185L12.2245 13.1173ZM12.2245 13.1173L17.1734 8.16844" stroke="#0F516E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Contraseña antigua
                    </label>
                </div>
                <div class="title-container">
                    <h1 class="title mb-0">Contraseña nueva</h1>
                </div>
                <div class="form-floating input-style mb-3">
                    <input type="password" class="form-control" id="newPass" name="newPass" required>
                    <label for="nueva-contrasena">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                            <path d="M23.7959 1.5459L21.3877 3.9541M21.3877 3.9541L25 7.56639L20.7857 11.7807L17.1734 8.16844M21.3877 3.9541L17.1734 8.16844M12.2245 13.1173C12.8462 13.7307 13.3405 14.4611 13.6788 15.2664C14.0171 16.0716 14.1927 16.9358 14.1957 17.8092C14.1986 18.6826 14.0287 19.548 13.6958 20.3555C13.3629 21.163 12.8736 21.8967 12.256 22.5143C11.6384 23.1319 10.9047 23.6212 10.0972 23.9541C9.28974 24.287 8.42437 24.4568 7.55096 24.4539C6.67754 24.451 5.81334 24.2753 5.00809 23.937C4.20285 23.5987 3.47248 23.1045 2.85903 22.4828C1.65268 21.2337 0.985161 19.5609 1.00025 17.8245C1.01534 16.0881 1.71183 14.427 2.9397 13.1992C4.16757 11.9713 5.82859 11.2748 7.565 11.2597C9.30141 11.2446 10.9743 11.9121 12.2233 13.1185L12.2245 13.1173ZM12.2245 13.1173L17.1734 8.16844" stroke="#0F516E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Contraseña nueva
                    </label>
                </div>
                <div class="form-floating input-style mb-3">
                    <input type="password" class="form-control" id="confPass" name="confPass" required>
                    <label for="confirmar-contrasena">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                            <path d="M23.7959 1.5459L21.3877 3.9541M21.3877 3.9541L25 7.56639L20.7857 11.7807L17.1734 8.16844M21.3877 3.9541L17.1734 8.16844M12.2245 13.1173C12.8462 13.7307 13.3405 14.4611 13.6788 15.2664C14.0171 16.0716 14.1927 16.9358 14.1957 17.8092C14.1986 18.6826 14.0287 19.548 13.6958 20.3555C13.3629 21.163 12.8736 21.8967 12.256 22.5143C11.6384 23.1319 10.9047 23.6212 10.0972 23.9541C9.28974 24.287 8.42437 24.4568 7.55096 24.4539C6.67754 24.451 5.81334 24.2753 5.00809 23.937C4.20285 23.5987 3.47248 23.1045 2.85903 22.4828C1.65268 21.2337 0.985161 19.5609 1.00025 17.8245C1.01534 16.0881 1.71183 14.427 2.9397 13.1992C4.16757 11.9713 5.82859 11.2748 7.565 11.2597C9.30141 11.2446 10.9743 11.9121 12.2233 13.1185L12.2245 13.1173ZM12.2245 13.1173L17.1734 8.16844" stroke="#0F516E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Confirme Contraseña
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="submit" value="Guardar" class="button-style" style="background-color: #0F516E;" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    function handleSubmit(e, url) {
        e.preventDefault();
        let oldPass = document.getElementById('oldPass').value;
        let newPass = document.getElementById('newPass').value;

        // Construimos los datos a enviar en el cuerpo de la solicitud
        let formData = new FormData();
        formData.append('oldPass', oldPass);
        formData.append('newPass', newPass);

        fetch(url, {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(json => {
                showAlert(json.replace(/['"]+/g, ''), '', "Aceptar");
                // Aquí puedes manejar la respuesta del servidor
            })
            .catch(error => {
                console.error('Error al cargar información:', error);
                // Aquí puedes manejar los errores de la solicitud
            });
    }

    const showAlert = (title, message, type) => {
        Swal.fire({
            title: title,
            text: message,
            showDenyButton: false,
            showCancelButton: false,
            confirmButtonText: "Aceptar",
        }).then((result) => {
            if (result.isConfirmed) {

                var currentHost = window.location.hostname;
                console.log('currentHost', currentHost)
                if (currentHost === "esaleslatam.bekaert.com") {
                    window.location.href = "/esalesweb/Asesor";
                } else {
                    window.location.href = "/";
                }
            }
        });
    }

</script>