@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="card card-container">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="card-title">
                            <h1>Información personal</h1>
                        </div>
                    </div>
                    <div class="col-3 car-sap-code-container">
                        <h3 class="card-sap-code-label">CODIGO SAP</h3>
                        <label>213123</label>
                    </div>
                </div>
                <h4 class="title my-3">Hugo Ernesto Castillo Miranda </h4>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label class="card-subtitle">Dirección de contacto</label>
                        <p>Obispo Mosquera 6-112 y Bartolomé García</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label class="card-subtitle">Teléfono</label>
                        <p>+593 998155983</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label class="card-subtitle">Ciudad - Pais</label>
                        <p>Ibarra - Ecuador</p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label class="card-subtitle">Correo Electrónico</label>
                        <p>ernestocastillo@hotmail.com</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="col-4 car-sap-code-container">
                        <h3 class="card-sap-code-label">Última Actualización</h3>
                        <label>11/14/2023</label>
                    </div>
                </div>
                <label class="card-subtitle">Información crediticia</label>
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="card-informacion-crediticia-container">
                            <h3 class="card-sap-code-label">T. Facturado</h3>
                            <label>$ 10’000.000</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="card-informacion-crediticia-container">
                            <h3 class="card-sap-code-label">T. Vencido</h3>
                            <label>$ 6’000.000,00</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="card-informacion-crediticia-container">
                            <h3 class="card-sap-code-label">C. por Cobrar</h3>
                            <label>$ 4’000.000,00</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="card-informacion-crediticia-container">
                            <h3 class="card-sap-code-label">Crédito Límite</h3>
                            <label>$ 4’000.000,00</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="card card-container">
            <div class="card-body">
                <div class="row">
                    <div class="col-7">
                        <div class="card-title">
                            <h1>Facturas pendientes</h1>
                        </div>
                    </div>
                    <div class="col-5 car-sap-code-container">
                        <h3 class="card-sap-code-label">Última Actualización</h3>
                        <label>11/14/2023</label>
                    </div>
                </div>
                <table class="table">
                    <thead class="card-table_header">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row pt-3 pe-0">
        <div class="col-12 pe-0">
            <div class="card card-container">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-10">
                            <div class="card-title">
                                <h1>Facturas pendientes</h1>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-end">
                            <button class="btn" style="background-color: #FF602C; color: white;">Nuevo Pedido</button>
                        </div>
                    </div>
                    <table class="table">
                        <thead class="card-table_header">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*carousel*@
    <div id="carouselExampleAutoplaying" class="carousel slide pt-3" data-bs-ride="carousel" style="max-width: 600px; margin: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex">
                    <img src="~/assets/images/image 1.png" class="d-block w-100" alt="Image 1">
                    <img src="~/assets/images/image 2.png" class="d-block w-100" alt="Image 2">
                    <img src="~/assets/images/image 3.png" class="d-block w-100" alt="Image 3">
                </div>                              
            </div>                                  
            <div class="carousel-item">             
                <div class="d-flex">                
                    <img src="~/assets/images/image 4.png" class="d-block w-100" alt="Image 4">
                    <img src="~/assets/images/image 5.png" class="d-block w-100" alt="Image 5">
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
 
</div>