@using Newtonsoft.Json
<div class="table-responsive table-container pt-3" id="detalleProductosPorFamilia" style="max-height: 418px;">
    <table class="table" id="tabla-listado-productos-por-familia">
        <tbody>
            @foreach (var item in Model.listaProductosPorFamilia.result)
            {
                @*  <form onsubmit="onSubmitAgregarPorFamilia(event, '@{@JsonConvert.SerializeObject(item)}', '@Url.Action("SeleccionarArticuloPorFamilia", "Cliente")')"> *@

                @* <form onsubmit="agregarProducto(event)"> *@
                <tr>
                    <td>
                        <div class="frame-product-img">
                            P
                        </div>
                    </td>
                    <td>
                        <h3>@item.codigoSAPArticulo</h3>
                        <p>@item.nombre</p>
                    </td>
                    <td>

                        @{
                            var codigoSAPArticulo = item.codigoSAPArticulo;

                            var idInput = $"cantidadArticuloPorFamilia-{codigoSAPArticulo}";

                            var funcionBoton = $"onSubmitAgregarPorFamilia('{idInput}','{codigoSAPArticulo}','{Url.Action("SeleccionarArticuloPorFamilia", "Cliente")}')";
                        }

                        <input id=@idInput type="number" step="1" value="1" min="1" />
                    </td>
                    <td>

                        <button style="background: none; border: none;">
                            <a onclick=@funcionBoton class="orange-rounded-button" style="display:flex; justify-content: center; align-items:center; background-color: #01ADEF;">
                                Agregar
                            </a>
                        </button>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>


