@model Portal_MovilEsales.Services.ClienteServices.ViewModels.Reclamo.InicioReclamo
@{
    ViewData["Title"] = "Detalle Reclamo";
}
<div class="row justify-content-center">
    <div class="col-sm-12 mt-3">
        <div class="card card-container">
            <div class="card-body">
                <div class="card-title mt-0">
                    <h1>Quejas y Reclamos</h1>
                </div>
                <div class="d-flex justify-content-end pt-3 mb-3 ml-auto">
                    <div display=flex>
                        <a class="orange-rounded-button" asp-action="NuevoReclamo" asp-controller="Cliente">
                            Nuevo Reclamo
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="vuesax/linear/message-add">
                                    <g id="message-add">
                                        <path id="Vector" d="M16 2H8C4 2 2 4 2 8V21C2 21.55 2.45 22 3 22H16C20 22 22 20 22 16V8C22 4 20 2 16 2Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_2" d="M8.5 12H15.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path id="Vector_3" d="M12 15.5V8.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </g>
                            </svg>

                        </a>
                    </div>
                </div>

                <div class="table-responsive table-container" style="max-height: 305px; font-family: bekaert-text-bold !important">
                    @Html.Partial("_TablaReclamoPrincipal")
                </div>
            </div>
        </div>
    </div>
</div>


<div class="responsive">
    @foreach (var item in Model.listadoImagenes.OrderBy(x => x.orden))
    {
        <div>
            <img src="@item.linkImagen" alt="@item.orden">
        </div>
    }
</div>

<script>
    // Inicializar DataTables
    $(document).ready(function () {
        new DataTable('#tabla-listado-reclamos', {
            pagingType: 'simple_numbers', // Establece el tipo de paginación a simple_numbers
            searching: false,
            ordering: false,
            info: false,
            lengthChange: false,
            pageLength: 5, // Establecer el número de elementos por página a 5
            dom: 'lrtip', // Define la disposición de los elementos de la tabla
            language: {
                paginate: {
                    previous: '<',
                    next: '>'
                },
            }
        });
    });
</script>
