body {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 200px;
    height: 100%; /* Establece la altura del sidebar al 100% de la altura de la ventana */
    position: fixed; /* Fija el sidebar en la posición */
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.content {
    padding: 120px 16px 16px 16px;
    margin-left: 225px;
}

.header-container{
    width: 100%;
    position:fixed;
}

.bg-header {
    background-image: url('../assets/images/Rectangle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
}


ul {
    list-style: none;
}

li {
    padding-bottom: 20px;
    color: var(--Bekaert-Ocean, #0F516E);
}

.mapa-sitio {
    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    /* Headline/Headline Medium */
    font-family: Bekaert Headline;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
}

.close-menu {
    display: none;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
.toogle{
    display:none;
}
@media only screen and (min-width:769px){
    .sidebar {
        width: 200px !important;
        margin-left: 20px !important;
        height:100% !important;
        margin-top:0 !important;
    }
    .content {
        margin-left: 225px !important;
    }
}
@media only screen and (max-width:  768px){
    .sidebar {
        width:0;
    }
    .content {
        margin-left: 0;
    }

    .informacion-sesion{
        display: none;
    }

    .close-menu {
        display:inherit;
        background-color: transparent;
        border: none;
        color: #333; /* Color del texto */
        font-size: larger;
    }

    .toogle{
        display: inherit;
        margin-top:10px;
        margin-right:10px;
    }

    .toogle button{
        background-color:transparent;
        border: none;
        color: white;
        font-size:25px;
    }
}