body {
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 200px;
    height: 100%; /* Establece la altura del sidebar al 100% de la altura de la ventana */
    position: fixed; /* Fija el sidebar en la posición */
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    z-index: 3;
    overflow-x: hidden;
    transition: 0.5s;
}

.content {
    padding: 120px 16px 16px 16px;
    margin-left: 225px;
}

.header-container{
    width: 100%;
    position:fixed;
}

.transparent-bg {
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    height:100%;
    width: 92%;
    height:96.5%;
    margin: 15px;
}

.bg-header {
    background-image: url('../assets/images/Rectangle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.logo {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 100px;
}


ul {
    list-style: none;
}

li {
    padding-bottom: 20px;
    color: var(--Bekaert-Ocean, #0F516E);
}

.mapa-sitio {
    color: rgba(255, 255, 255, 0.30);
    text-align: center;
    /* Headline/Headline Medium */
    font-family: Bekaert Headline;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
}

.close-menu {
    display: none;
    background-color: transparent;
    border: none;
    color: white; /* Color del texto */
    font-size: 25px;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.toogle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
}

.opcion-salir{
    display:none;
}

.mobile-options{
    display:none;
}
@media only screen and (min-width:769px) {
    .transparent-bg {
        background: none;
        box-shadow: none;
        backdrop-filter:none;
        height: 100%;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .sidebar {
        width: 200px !important;
        margin-left: 20px !important;
        height:100% !important;
        margin-top:0 !important;
    }
    .content {
        margin-left: 225px !important;
    }
}
@media only screen and (max-width:  768px){
    .bg-header{
        display:inherit;
        height: 80px;
    }

    .opcion-salir {
        display: inherit;
    }

    .mobile-options {
        padding: 10px;
        display: inherit;
    }

    .logo{
        display: none;
    }
    ul{
        padding-top:10px;
    }

    .sidebar {
        width: 0;
        background-image: url('../assets/images/Rectangle.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius:15px;
    }
    .content {
        padding: 65px 16px 16px 16px;
        margin-left: 0;
    }

    .informacion-sesion{
        display: none;
    }
    
}