@{
    ViewData["Title"] = "Aprobador";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-container">
            <div class="card-body">
                <div class="card-title">
                    <h1>Información personal</h1>
                </div>
                <h4 class="title">Pedro Perez</h4>
                <div class="d-flex border-br-orange">
                    <div class="me-auto">
                        <label class="card-subtitle">Correo Electrónico: <span style="color: black;">pperez@bekaert.com</span></label>
                    </div>
                    <div>
                        <label class="card-subtitle">Ciudad - Pais: <span style="color: black;">Ibarra - Ecuador</span></label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-3">
        <div class="card card-container">

            <div class="modal fade" id="modalPedidoAprobado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title card-title" id="exampleModalLabel">
                                Pedido Pendiente de Aprobación
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="row mb-3">
                                <div class="col-md-2" style="font-weight: bold;">Cliente:</div>
                                <div class="col-md-3">Castillo Miranda Hugo Ernesto</div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-2" style="font-weight: bold;">Orden:</div>
                                <div class="col-md-3">02458752</div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-2" style="font-weight: bold;">Forma de Pago:</div>
                                <div class="col-md-3">Net, at 30 dateof invoice</div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-2" style="font-weight: bold;">Peso total pedido:</div>
                                <div class="col-md-3">9000.0000(Kg)</div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-2" style="font-weight: bold;">Observación:</div>
                                <div class="col-md-3">(Sandra Monal):Despachar Semana del 23 de Enero del 2023(Jenny Hernandez)</div>
                            </div>
                            @*<div class="col-md-3" style="font-weight: bold;">Orden:</div>
                            <div class="col-md-3">1/10/2023 3:59:02 PM</div>
                            <div class="col-md-3" style="font-weight: bold;">Forma de Pago:</div>
                            <div class="col-md-3">Net, at 30 date of invoice</div>
                            <div class="col-md-3" style="font-weight: bold;">Numero de Orden:</div>
                            <div class="col-md-3">23458</div>
                            <div class="col-md-3" style="font-weight: bold;">Dirección de Entrega:</div>
                            <div class="col-md-3">000133490. CR 18 28 23 BRR GIRARDOT</div>
                            <div class="col-md-3" style="font-weight: bold; color: #FF602C;">Aprobado</div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3" style="font-weight: bold;">Total Peso Pedido:</div>
                            <div class="col-md-3">9000.0000 (Kg)</div>
                            <div class="col-md-3" style="font-weight: bold;">Numero de Orden SAP:</div>
                            <div class="col-md-3">3901158088</div>
                            <div class="col-md-3" style="font-weight: bold;">Observación:</div>
                            <div class="col-md-3">(SandraMonal): Despachar semana del 23 de Enero 2023 (JennyHernandez):</div>
                            <div class="col-md-3" style="font-weight: bold;">Fecha de Entrega</div>
                            <div class="col-md-3">2023-01-23</div>
                            <div class="col-md-3" style="font-weight: bold;">Contacto:</div>
                            <div class="col-md-9">-</div>
                            <div class="col-md-3" style="font-weight: bold;">Dirección:</div>
                            <div class="col-md-9">-</div>*@

                            <a data-bs-toggle="collapse" href="#collapseInformacionPedido" role="button" aria-expanded="true" aria-controls="collapseInformacionPedido">
                                <div class="collapsible-tabs">
                                    <div class="label">
                                        <div class="label-color-wrapper">
                                            <div class="label-color"><div class="text" style="font-weight: bold;">Orden de Compra - 123456</div></div>
                                        </div>
                                        <div class="chevron">
                                            <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g id="&#240;&#159;&#166;&#134; icon &#34;chevron down&#34;">
                                                    <path id="Vector" d="M1.5 2L11.5 12L21.5 2" stroke="#D7D2CB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <div class="collapse show mb-4" id="collapseInformacionPedido">
                                <div class="table-responsive table-container">
                                    <table class="table">
                                        <thead class="card-table_header">
                                            <tr>
                                                <th scope="col" class="border-radius-left" style="padding:13px;">Artículo</th>
                                                <th scope="col" style="padding:13px;">Descripción</th>
                                                <th scope="col" style="padding:13px;">PSV</th>
                                                <th scope="col" style="padding:13px;">Cant.</th>
                                                <th scope="col" style="padding:13px;">Peso Kg.</th>
                                                <th scope="col" style="padding:13px;">Desc. Base</th>
                                                <th scope="col" style="padding:13px;">Desc. Fac</th>
                                                <th scope="col" style="padding:13px;">Desc. NC</th>
                                                <th scope="col" style="padding:13px;">%Desc. desde PVS</th>
                                                <th scope="col" style="padding:13px;">Precio Final</th>
                                                <th scope="col" style="padding:13px;">Estado</th>
                                                <th scope="col" style="padding:13px;">Todo el Mes</th>
                                                <th scope="col" style="padding:13px;">Familia</th>
                                                <th scope="col" style="padding:13px;">Margen %</th>
                                                <th scope="col" style="padding:13px;">Margen $</th>
                                                <th scope="col" class="border-radius-right" style="padding:13px;">CAT.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>187934</td>
                                                <td>AL. RECOCIDO 1,25MM #18 R20KG</td>
                                                <td>160.984,00</td>
                                                <td>100</td>
                                                <td>1350</td>
                                                <td>33,000%</td>
                                                <td>150.80</td>
                                                <td>0,000%</td>
                                                <td>38,36%</td>
                                                <td>$99.230,54</td>
                                                <td>Pendiente</td>
                                                <td>Sí</td>
                                                <td>Sí</td>
                                                <td>29,824%</td>
                                                <td>$2´959.230,01</td>
                                                <td>A</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center justify-content-md-end mt-3">
                                    <div class="subtotales-container">
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Importe Bruto</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.432.24
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Base</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    286,58
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Subtotal 1</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.145.66
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Pago</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.145.66
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Retiro</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.145.66
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Varios</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.145.66
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Descuento Peso</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.145.66
                                                </label>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Subtotal 2(Factura)</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.145.66
                                                </label>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">IVA</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    966.92
                                                </label>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5" style="font-size: 19px;">Valor Total</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    1.082.95
                                                </label>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Valor N/C (Sin IVA)</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    35.87
                                                </label>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Margen Valor</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">$</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    35.87
                                                </label>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="subtotal-description">
                                                <label class="d-flex justify-content-md-end pe-md-5">Margen Porcentaje</label>
                                            </div>
                                            <label class="pe-md-2 ps-md-5">%</label>
                                            <div class="subtotal-value">
                                                <label class="d-flex justify-content-end">
                                                    35.87
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Guardar cambios</button>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-9">
                        <div class="card-title">
                            <h3>Pedidos Pendientes</h3>
                        </div>
                        <hr />
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div style="padding-top: 12px; display:flex;">
                            <input type="text" class="buscador" placeholder="Buscador">
                            <svg style="margin:5px;" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="&#240;&#159;&#166;&#134; icon &#34;search&#34;">
                                    <path id="Vector" d="M9.88894 18.7779C14.7982 18.7779 18.7779 14.7982 18.7779 9.88894C18.7779 4.97971 14.7982 1 9.88894 1C4.97971 1 1 4.97971 1 9.88894C1 14.7982 4.97971 18.7779 9.88894 18.7779Z" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path id="Vector_2" d="M21 21.0013L16.1666 16.168" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="tab-content pt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="clientes-tab-pane" role="tabpanel" aria-labelledby="clientes-tab" tabindex="0">
                        <div class="table-responsive table-container">
                            <table class="table">
                                <thead class="card-table_header">
                                    <tr>
                                        <th class="border-radius-left text-center" scope="col" style="padding:13px;">Asesor</th>
                                        <th scope="col" class="text-center" style="padding:13px;">Cliente</th>
                                        <th scope="col" class="text-center" style="padding:13px;">N° Orden E-Sales</th>
                                        <th scope="col" class="text-center" style="padding:13px;">Observaciones</th>
                                        <th scope="col" class="text-center" style="padding:13px;">F. Creación</th>
                                        <th class="border-radius-right" scope="col" style="padding:13px;" />
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Pedro Peréz</td>
                                        <td>Castillo Miranda Hugo Ernesto</td>
                                        <td>576994928938</td>
                                        <td style="white-space: pre-wrap">(Sandra Monal):Despachar Semana del 23 de Enero del 2023(Jenny Hernandez)</td>
                                        <td>01/10/2024</td>
                                        <td>
                                            <svg style="margin:5px;" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#modalPedidoAprobado">
                                                <g id="&#240;&#159;&#166;&#134; icon &#34;search&#34;">
                                                    <path id="Vector" d="M9.88894 18.7779C14.7982 18.7779 18.7779 14.7982 18.7779 9.88894C18.7779 4.97971 14.7982 1 9.88894 1C4.97971 1 1 4.97971 1 9.88894C1 14.7982 4.97971 18.7779 9.88894 18.7779Z" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                    <path id="Vector_2" d="M21 21.0013L16.1666 16.168" stroke="#01ADEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                                </g>
                                            </svg>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pedidos-tab-pane" role="tabpanel" aria-labelledby="pedidos-tab" tabindex="0">
                        <div class="table-responsive table-container">
                            <table class="table">
                                <thead class="card-table_header">
                                    <tr>
                                        <th scope="col" class="border-radius-left" style="padding:13px;">Nombre del Cliente</th>
                                        <th scope="col" style="padding:13px;">Fecha Creación</th>
                                        <th scope="col" style="padding:13px;">Observación</th>
                                        <th scope="col" style="padding:13px;">Número de Orden</th>
                                        <th scope="col" style="padding:13px;">Orden SAP</th>
                                        <th scope="col" style="padding:13px;">Compra KG</th>
                                        <th scope="col" style="padding:13px;">Compra $</th>
                                        <th scope="col" style="padding:13px;">Valor NC (Sin Iva)</th>
                                        <th scope="col" style="padding:13px;">Aprobador Actual</th>
                                        <th scope="col" style="padding:13px;">Estado</th>
                                        <th scope="col" class="border-radius-right" style="padding:13px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Castillo Miranda Hugo Ernesto</td>
                                        <td>1/10/2023</td>
                                        <td>(Sandra Monal): Despachar ...</td>
                                        <td>00245874</td>
                                        <td>514268245</td>
                                        <td>928.641.44</td>
                                        <td>65’928.641.44</td>
                                        <td>0.00</td>
                                        <td>Jenny Hernadez</td>
                                        <td>Aprobado</td>
                                        <td>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g id="01 align center">
                                                    <path id="Vector" d="M24 3H4.242L4.2 2.649C4.11405 1.91942 3.76338 1.24673 3.21449 0.758478C2.6656 0.270223 1.95663 0.000341793 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L24 3ZM20.164 13H5.419L4.478 5H21.607L20.164 13Z" fill="#01ADEF" />
                                                    <path id="Vector_2" d="M7.00012 24C8.10469 24 9.00011 23.1046 9.00011 22C9.00011 20.8954 8.10469 20 7.00012 20C5.89555 20 5.00012 20.8954 5.00012 22C5.00012 23.1046 5.89555 24 7.00012 24Z" fill="#01ADEF" />
                                                    <path id="Vector_3" d="M17 24C18.1046 24 19 23.1046 19 22C19 20.8954 18.1046 20 17 20C15.8954 20 15 20.8954 15 22C15 23.1046 15.8954 24 17 24Z" fill="#01ADEF" />
                                                </g>
                                            </svg>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Pedro Perez</td>
                                        <td>1/10/2023</td>
                                        <td>(Sandra Monal): Despachar Semana del 23...</td>
                                        <td>00245874</td>
                                        <td>514268245</td>
                                        <td>928.641.44</td>
                                        <td>65’928.641.44</td>
                                        <td>0.00</td>
                                        <td>Jenny Hernadez</td>
                                        <td>Aprobado</td>
                                        <td>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g id="01 align center">
                                                    <path id="Vector" d="M24 3H4.242L4.2 2.649C4.11405 1.91942 3.76338 1.24673 3.21449 0.758478C2.6656 0.270223 1.95663 0.000341793 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L24 3ZM20.164 13H5.419L4.478 5H21.607L20.164 13Z" fill="#01ADEF" />
                                                    <path id="Vector_2" d="M7.00012 24C8.10469 24 9.00011 23.1046 9.00011 22C9.00011 20.8954 8.10469 20 7.00012 20C5.89555 20 5.00012 20.8954 5.00012 22C5.00012 23.1046 5.89555 24 7.00012 24Z" fill="#01ADEF" />
                                                    <path id="Vector_3" d="M17 24C18.1046 24 19 23.1046 19 22C19 20.8954 18.1046 20 17 20C15.8954 20 15 20.8954 15 22C15 23.1046 15.8954 24 17 24Z" fill="#01ADEF" />
                                                </g>
                                            </svg>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Castillo Miranda Hugo Ernesto</td>
                                        <td>1/10/2023</td>
                                        <td>(Sandra Monal): Despachar Semana del 23 de Enero de 2023 (Jenny)</td>
                                        <td>00245874</td>
                                        <td>514268245</td>
                                        <td>928.641.44</td>
                                        <td>65’928.641.44</td>
                                        <td>0.00</td>
                                        <td>Jenny Hernadez</td>
                                        <td>Aprobado</td>
                                        <td>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g id="01 align center">
                                                    <path id="Vector" d="M24 3H4.242L4.2 2.649C4.11405 1.91942 3.76338 1.24673 3.21449 0.758478C2.6656 0.270223 1.95663 0.000341793 1.222 0L0 0V2H1.222C1.46693 2.00003 1.70334 2.08996 1.88637 2.25272C2.06941 2.41547 2.18634 2.63975 2.215 2.883L3.8 16.351C3.88595 17.0806 4.23662 17.7533 4.78551 18.2415C5.3344 18.7298 6.04337 18.9997 6.778 19H20V17H6.778C6.53291 16.9999 6.29638 16.9099 6.11333 16.7469C5.93027 16.5839 5.81343 16.3594 5.785 16.116L5.654 15H21.836L24 3ZM20.164 13H5.419L4.478 5H21.607L20.164 13Z" fill="#01ADEF" />
                                                    <path id="Vector_2" d="M7.00012 24C8.10469 24 9.00011 23.1046 9.00011 22C9.00011 20.8954 8.10469 20 7.00012 20C5.89555 20 5.00012 20.8954 5.00012 22C5.00012 23.1046 5.89555 24 7.00012 24Z" fill="#01ADEF" />
                                                    <path id="Vector_3" d="M17 24C18.1046 24 19 23.1046 19 22C19 20.8954 18.1046 20 17 20C15.8954 20 15 20.8954 15 22C15 23.1046 15.8954 24 17 24Z" fill="#01ADEF" />
                                                </g>
                                            </svg>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>