<a data-bs-toggle="collapse" href="#collapseDatosComplementarios2" role="button" aria-expanded="true" aria-controls="collapseDatosComplementarios2">
    <div class="collapsible-tabs">
        <div class="label">
            <div class="label-color-wrapper">
                <div class="label-color"><div class="text">Datos Complementarios</div></div>
            </div>
            <div class="chevron">
                <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="&#240;&#159;&#166;&#134; icon &#34;chevron down&#34;">
                        <path id="Vector" d="M1.5 2L11.5 12L21.5 2" stroke="#D7D2CB" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
</a>

<div class="collapse show mb-4" id="collapseDatosComplementarios2">
    <div class="col-sm-12 col-md-6">
        <label class="card-subtitle">Departamento</label>
        <p>Prueba departamento</p>
    </div>
    <div class="col-sm-12 col-md-6">
        <label class="card-subtitle">Días para resolver</label>
        <p>Prueba dias</p>
    </div>
    <div class="col-sm-12 col-md-6">
        <label class="card-subtitle">Correos a notificar (Internamente)</label>
        <p>Prueba correos</p>
    </div>
    <div class="col-sm-12 col-md-6">
        <label class="card-subtitle">Estado</label>
        <p>Prueba estado</p>
    </div>
    <div class="col-sm-12 col-md-6">
        <label class="card-subtitle">Observaciones</label>
        <p>Prueba observaciones</p>
    </div>

</div>

